:root {
  font-family: "Roboto Mono", monospace;
  font-style: normal;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  --dark: #213547;
  --light: white;
  --accent: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#btnControl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#btnControl input,
label {
  position: absolute;
  left: -50%;
  top: -50%;
  transform: translate(-50%, -50%);
  padding: 2rem 1rem;
  border: .2rem var(--dark) solid;
  background-color: var(--accent);
  color: var(--light);
  cursor: pointer;
}

#btnControl label:hover {
  background-color: var(--light);
  color: var(--dark);
}

#canvas {
  display: flex;
}

.hidden {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--dark);
    background-color: var(--background-color);
  }
}