:root {
  font-family: "Roboto Mono", monospace;
  font-style: normal;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  --dark: #213547;
  --light: white;
  --accent: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#sectionControl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}

#sectionControl input,
label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--accent);
  color: var(--light);
  cursor: pointer;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: xx-large;
  transition: .5s;
}

#sectionControl label:hover {
  background-color: var(--light);
  color: var(--dark);
}

.canvas {
  position: absolute;
}

.hidden {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--dark);
    background-color: var(--background-color);
  }
}