:root {
	--day: #ffff00;
	--light: #ffffff;
	--gray: #f3f3f3;
	--danger: #ff0000;
	--success: #008000;
	--night: #121212;
	--dark: #000000;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Mono';
}

.draggable {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: grab;
	transition-duration: 500ms;
}

.hidden {
	display: none;
}

.block {
	display: block;
}

.info {
	padding: 1vh;
	background-color: var(--light);
	color: var(--dark);
	opacity: 1;
}

.error {
	padding: 1vh;
	background-color: var(--light);
	color: var(--danger);
	opacity: 1;
}

.success {
	padding: 1vh;
	background-color: var(--light);
	color: var(--success);
	opacity: 1;
}

.helpField,
.settingsField {
	margin: 2vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1vh;
	padding: 0 0 1vh 0;
	border-bottom: .1vh solid var(--dark);
}

.helpField .helpFieldDescription p,
.settingsField .settingsFieldDescription p {
	font-weight: bold;
	margin-bottom: 1rem;
}

.helpField .helpFieldDescription h5,
.settingsField .settingsFieldDescription h5 {
	line-height: 1.5rem;
}

.settingsField input[type="checkbox"] {
	width: 1rem;
	height: 1rem;
}

.checkboxSettingsFieldContainer {
	position: relative;
	width: 2vh;
	height: 2vh;
	border: .2vh solid var(--dark);
	cursor: pointer;
}

.checkboxSettingsFieldContainer input {
	opacity: 0;
	width: 0;
	height: 0;
}

.checkboxSettingsFieldContainer span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 2vh;
	height: 2vh;
	background-color: transparent;
}

.checkboxSettingsFieldContainer input:checked+span {
	background-color: var(--dark);
}

.numberSettingsFieldContainer input {
	font-size: 2vh;
	font-family: 'Roboto Mono';
	font-weight: bold;
	text-align: right;
	-moz-appearance: textfield;
	appearance: none;
	outline: none;
	border: none;
	padding: 1vh;
	width: 6vh;
}

.numberSettingsFieldContainer input::-webkit-outer-spin-button,
.numberSettingsFieldContainer input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.numberSettingsFieldContainer span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 2vh;
	height: 2vh;
	background-color: transparent;
}

#treeInputContainer {
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: max-content;
	z-index: 2;
	min-width: 25vw;
	backdrop-filter: blur(1vh);
}

#treeInputHeader {
	height: 5vh;
	background-color: var(--gray);
	color: var(--dark);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2vh;
	border: .2vh solid var(--dark);
	border-bottom: none;
}

#treeInputHeaderOptions {
	display: flex;
	gap: 1vh;
	align-items: center;
}

#treeInputHeaderOptions button {
	border: none;
	cursor: pointer;
}

#treeInputHeaderOptionRedrawIcon,
#treeInputHeaderOptionFormatIcon {
	width: 1.2rem;
	height: 1.2rem;
	vertical-align: middle;
}

#treeInput {
	min-height: 20vh;
	min-width: 25vw;
	width: auto;
	height: 100%;
	padding: 2vh;
	background-color: transparent;
	outline: none;
	border: .2vh solid var(--dark);
	border-top: none;
}

#treeVisualContainer {
	z-index: -1;
	min-width: calc(100vw - (100vw - 100%));
	width: max-content;
}

#treeVisualHeader {
	z-index: 1;
	position: fixed;
	width: calc(100vw - (100vw - 100%));
	height: 5vh;
	background-color: var(--gray);
	color: var(--dark);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#treeVisualHeaderLabel {
	margin-left: 4vh;
}

#treeVisualHeaderOptions {
	margin-right: 4vh;
	display: flex;
	gap: 2vh;
}

#treeVisualHeaderOptions button {
	border: none;
	cursor: pointer;
}

#treeVisualHeaderOptionSettingsIcon,
#treeVisualHeaderOptionHelpIcon,
#treeVisualHeaderOptionSaveIcon,
#treeVisualHeaderOptionDownloadIcon {
	width: 1.5rem;
	height: 1.5rem;
	vertical-align: middle;
}

#treeVisual {
	top: 25%;
	height: auto;
	display: block;
	border: .2vh var(--gray) solid;
	overflow: scroll;
}

#treeVisualStatusContainer {
	position: fixed;
	bottom: 0;
	min-width: calc(100vw - (100vw - 100%));
	width: auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 2vh;
	height: 5vh;
	padding: 0 2vh;
	backdrop-filter: blur(1vh);
	background-color: transparent;
}

#treeVisualStatusContainer p {
	width: max-content;
}

#treeHelpContainer,
#treeSettingsContainer {
	position: absolute;
	top: 0;
	background-color: var(--light);
	width: calc(100vw - (100vw - 100%));
	z-index: 2;
}

#treeHelpHeader,
#treeSettingsHeader {
	height: 5vh;
	color: var(--dark);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--gray);
	padding: 0 4vh;
}

#treeHelpHeaderClose,
#treeSettingsHeaderClose {
	border: none;
	cursor: pointer;
}

#treeHelpHeaderCloseIcon,
#treeSettingsHeaderCloseIcon {
	width: 1.5rem;
	height: 1.5rem;
	vertical-align: middle;
}

#treeHelpContent,
#treeSettingsContent {
	padding: 2vh;
}

#treeHelpFooter,
#treeSettingsFooter {
	display: flex;
	justify-content: flex-end;
	border-bottom: .2vh solid var(--dark);
	gap: 2vh;
	padding: 4vh;
	width: calc(100vw - (100vw - 100%));
}

#treeHelpFooterClose,
#treeSettingsFooterClose {
	border: .2vh solid var(--dark);
	background-color: var(--light);
	color: var(--dark);
	padding: 1vh;
	cursor: pointer;
}

#treeSettingsFooterReset {
	border: .2vh solid var(--danger);
	background-color: var(--danger);
	color: var(--light);
	padding: 1vh;
	cursor: pointer;
}

#treeSettingsFooterSave {
	border: .2vh solid var(--dark);
	background-color: var(--dark);
	color: var(--light);
	padding: 1vh;
	cursor: pointer;
}

@media (prefers-color-scheme: dark) {
	* {
		background-color: var(--night);
		border-color: var(--night);
		color: var(--day);
	}

	img {
		fill: var(--day);
	}

	#treeVisualHeader {
		background-color: var(--night);
		color: var(--day);
	}

	#treeInputHeader {
		background-color: var(--night);
		color: var(--day);
		border-color: var(--day);
	}

	#treeInputContainer {
		background: transparent;
	}

	#treeInput {
		border-color: var(--day);
	}

	#treeInput::placeholder {
		color: var(--gray);
	}

	#treeHelpHeader,
	#treeSettingsHeader {
		background-color: var(--night);
		color: var(--day);
	}

	#treeHelpFooter,
	#treeSettingsFooter {
		border-color: var(--day);
	}

	#treeHelpFooterClose,
	#treeSettingsFooterClose {
		border-color: var(--day);
		background-color: var(--night);
	}

	#treeSettingsFooterReset {
		border-color: var(--danger);
		background-color: var(--night);
	}

	#treeSettingsFooterSave {
		border-color: var(--day);
		background-color: var(--night);
	}

	#treeVisual {
		border-color: var(--day);
	}

	#treeVisualStatusContainer {
		background-color: transparent;
	}

	.helpField,
	.settingsField {
		border-color: var(--day);
	}

	.checkboxSettingsFieldContainer {
		border-color: var(--day);
	}

	.checkboxSettingsFieldContainer input:checked+span {
		background-color: var(--day);
	}

	.numberSettingsFieldContainer input {
		color: var(--day);
	}

	.info,
	.error,
	.success {
		background-color: var(--day);
	}
}