:root {
	--gray: #f3f3f3;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Mono';
}

.draggable {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: grab;
}

.hidden {
	display: none;
}

.block {
	display: block;
}

.settingsField {
	margin: 0 0 20px 0;
	display: flex;
	align-items: center;
	gap: 10px;
}

.settingsField input {
	width: 1rem;
	height: 1rem;
}

.settingsFieldLabel {
	position: relative;
	width: 2vh;
	height: 2vh;
	border: 1px solid black;
	cursor: pointer;
}

.settingsFieldLabel input[type=checkbox] {
	opacity: 0;
	width: 0;
	height: 0;
}

.settingsFieldLabel .settingsCheckThumb {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 2vh;
	height: 2vh;
	background-color: transparent;
}

.settingsFieldLabel input[type=checkbox]:checked+.settingsCheckThumb {
	background-color: black;
}

#treeInputContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: auto;
	height: max-content;
	z-index: 2;
}

#treeInputHeader {
	height: 5vh;
	background-color: var(--gray);
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	border: 1px solid black;
	border-bottom: none;
}

#treeInputHeaderOptions {
	display: flex;
	gap: 10px;
	align-items: center;
}

#treeInputHeaderOptions button {
	border: none;
	cursor: pointer;
}

#treeInputHeaderOptionRedrawIcon,
#treeInputHeaderOptionFormatIcon {
	width: 1.2rem;
	height: 1.2rem;
	vertical-align: middle;
}

#treeInput {
	width: 100%;
	min-width: 25vw;
	min-height: 20vh;
	height: 100%;
	padding: 20px;
	background-color: transparent;
	backdrop-filter: blur(5px);
	outline: none;
	border: 1px solid black;
	border-top: none;
}

#treeVisualContainer {
	z-index: -1;
	min-width: 100vw;
	width: max-content;
}

#treeVisualHeader {
	z-index: 1;
	position: fixed;
	width: 100%;
	height: 5vh;
	background-color: var(--gray);
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#treeVisualHeaderLabel {
	padding-left: 20px;
}

#treeVisualHeaderOptions {
	padding-right: 20px;
	display: flex;
	gap: 20px;
}

#treeVisualHeaderOptions button {
	border: none;
	cursor: pointer;
}

#treeVisualHeaderSettingsIcon,
#treeVisualHeaderHelpIcon {
	width: 1.5rem;
	height: 1.5rem;
	vertical-align: middle;
}

#treeVisual {
	height: auto;
	display: block;
	border: 1px var(--gray) solid;
	overflow: scroll;
}

#treeVisualStatusContainer {
	position: fixed;
	bottom: 0;
	min-width: 100%;
	width: auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 20px;
	height: 5vh;
	padding: 0 20px;
	backdrop-filter: blur(5px);
	background-color: transparent;
}

#treeVisualStatusContainer p {
	width: max-content;
}

#treeSettingsContainer {
	z-index: 2;
	position: fixed;
	top: 0;
	background-color: white;
	width: 100%;
}

#treeSettingsHeader {
	height: 5vh;
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--gray);
	padding: 0 20px;
}

#treeSettingsHeaderClose {
	border: none;
	cursor: pointer;
}

#treeSettingsHeaderCloseIcon {
	width: 1.5rem;
	height: 1.5rem;
	vertical-align: middle;
}

#treeSettingsContent {
	padding: 20px 20px 0 20px;
}

#treeSettingsFooter {
	display: flex;
	justify-content: flex-end;
	border-bottom: 1px solid black;
	gap: 20px;
	padding: 0 20px 20px 0;
}

#treeSettingsCancel {
	border: 1px solid black;
	padding: 1vh;
	background-color: white;
	cursor: pointer;
}

#treeSettingsSave {
	border: none;
	background-color: black;
	color: white;
	padding: 1vh;
	cursor: pointer;
}

/* TODO: make responsive ui layout */