:root {
	--day: #ffff00;
	--light: #ffffff;
	--gray: #f3f3f3;
	--danger: #ff0000;
	--success: #008000;
	--night: #121212;
	--dark: #000000;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Mono';
}

.draggable {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: grab;
	/* transition-duration: 500ms; */
}

.hidden {
	display: none;
}

.block {
	display: block;
}

.info {
	padding: 1rem;
	background-color: var(--light);
	color: var(--dark);
	opacity: 1;
}

.error {
	padding: 1rem;
	background-color: var(--light);
	color: var(--danger);
	opacity: 1;
}

.success {
	padding: 1rem;
	background-color: var(--light);
	color: var(--success);
	opacity: 1;
}

.helpField,
.settingsField {
	margin: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	padding: 0 0 1rem 0;
	border-bottom: .1rem solid var(--dark);
}

.helpField .helpFieldDescription p,
.settingsField .settingsFieldDescription p {
	font-weight: bold;
	margin-bottom: 1rem;
	font-size: 2rem;
}

.helpField .helpFieldDescription h5,
.settingsField .settingsFieldDescription h5 {
	line-height: 1.5rem;
	font-size: 1.2rem;
}

.settingsField input[type="checkbox"] {
	width: 1rem;
	height: 1rem;
}

.checkboxSettingsFieldContainer {
	position: relative;
	width: 2rem;
	height: 2rem;
	border: .2rem solid var(--dark);
	cursor: pointer;
}

.checkboxSettingsFieldContainer input {
	opacity: 0;
	width: 0;
	height: 0;
}

.checkboxSettingsFieldContainer span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 2rem;
	height: 2rem;
	background-color: transparent;
}

.checkboxSettingsFieldContainer input:checked+span {
	background-color: var(--dark);
}

.numberSettingsFieldContainer input {
	font-size: 2rem;
	font-family: 'Roboto Mono';
	font-weight: bold;
	text-align: right;
	-moz-appearance: textfield;
	appearance: none;
	outline: none;
	border: none;
	padding: 1rem;
	width: 6rem;
}

.numberSettingsFieldContainer input::-webkit-outer-spin-button,
.numberSettingsFieldContainer input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.numberSettingsFieldContainer span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 2rem;
	height: 2rem;
	background-color: transparent;
}

#appContainer {
	display: flex;
}

#treeSidebarOptionsContainer {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: var(--gray);
	border-right: 1px solid var(--night);
	z-index: 1;
}

#treeSidebarOptionsContainer button {
	border: none;
	cursor: pointer;
	width: 4rem;
	height: 4rem;
}

#treeSidebarOptionsContainer button svg {
	width: 1.5rem;
	height: 1.5rem;
	vertical-align: middle;
	fill: var(--dark);
}

#treeSidebarContainer {
	background-color: var(--gray);
	z-index: 1;
}

#treeSidebarContainer #treeSidebarHeader {
	display: flex;
	align-items: center;
	height: 4rem;
	margin-left: 2rem;
}

#treeVisual {
	overflow: scroll;
}

#treeInputContainer {
	height: max-content;
	z-index: 2;
	min-width: 20vw;
}

#treeInputHeader {
	height: 4rem;
	background-color: var(--gray);
	color: var(--dark);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
}

#treeInputHeaderOptions {
	display: flex;
	gap: 1rem;
	align-items: center;
}

#treeInputHeaderOptions button {
	border: none;
	cursor: pointer;
}

#treeInputHeaderOptions button svg {
	width: 1.2rem;
	height: 1.2rem;
	vertical-align: middle;
}

#treeInput {
	min-height: calc(100vh - 5rem);
	padding: 2rem;
	background-color: transparent;
	font-size: 1.5rem;
	outline: none;
	outline: none;
	border: none;
	resize: none;
}

#treeVisualStatusContainer {
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 2rem;
	height: 4rem;
	padding: 0 2rem;
}

#treeVisualStatusContainer p {
	width: max-content;
	backdrop-filter: blur(1rem);
	background-color: transparent;
}

#treeHelpContainer,
#treeSettingsContainer {
	position: absolute;
	top: 0;
	left: 4rem;
	/* right: 4rem; */
	/* width: calc(100vw - 4rem); */
	background-color: var(--light);
	z-index: 2;
	/* overflow: scroll; */
}

#treeHelpHeader,
#treeSettingsHeader {
	height: 4rem;
	color: var(--dark);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--gray);
	padding: 0 2rem;
}

#treeHelpHeaderClose,
#treeSettingsHeaderClose {
	border: none;
	cursor: pointer;
}

#treeHelpHeaderCloseIcon,
#treeSettingsHeaderCloseIcon {
	width: 1.5rem;
	height: 1.5rem;
	vertical-align: middle;
}

#treeHelpContent,
#treeSettingsContent {
	/* padding: 2rem; */
	overflow-y: scroll;
	height: calc(100vh - 8rem);
}

#treeHelpFooter,
#treeSettingsFooter {
	display: flex;
	justify-content: center;
	/* border-bottom: .2rem solid var(--dark); */
	/* gap: 2rem; */
	/* padding: 0 4rem; */
	/* width: calc(100vw - 4rem); */
	height: 4rem;
}

#treeHelpFooterClose,
#treeSettingsFooterClose {
	/* border: .2rem solid var(--dark); */
	border: none;
	background-color: var(--gray);
	color: var(--dark);
	padding: 1rem;
	cursor: pointer;
	margin: .5rem 0;
}

#treeSettingsFooterReset {
	/* border: .2rem solid var(--danger); */
	border: none;
	background-color: var(--danger);
	color: var(--light);
	padding: 1rem;
	cursor: pointer;
	margin: .5rem 0;
}

#treeSettingsFooterSave {
	/* border: .2rem solid var(--dark); */
	border: none;
	background-color: var(--dark);
	color: var(--light);
	padding: 1rem;
	cursor: pointer;
	margin: .5rem 0;
}

/* @media (prefers-color-scheme: dark) {
	* {
		background-color: var(--night);
		border-color: var(--night);
		color: var(--day);
	}

	img {
		fill: var(--day);
	}

	#treeVisualHeader {
		background-color: var(--night);
		color: var(--day);
	}

	#treeInputHeader {
		background-color: var(--night);
		color: var(--day);
		border-color: var(--day);
	}

	#treeInputContainer {
		background: transparent;
	}

	#treeInput {
		border-color: var(--day);
	}

	#treeInput::placeholder {
		color: var(--gray);
	}

	#treeHelpHeader,
	#treeSettingsHeader {
		background-color: var(--night);
		color: var(--day);
	}

	#treeHelpFooter,
	#treeSettingsFooter {
		border-color: var(--day);
	}

	#treeHelpFooterClose,
	#treeSettingsFooterClose {
		border-color: var(--day);
		background-color: var(--night);
	}

	#treeSettingsFooterReset {
		border-color: var(--danger);
		background-color: var(--night);
	}

	#treeSettingsFooterSave {
		border-color: var(--day);
		background-color: var(--night);
	}

	#treeVisual {
		border-color: var(--day);
	}

	#treeVisualStatusContainer {
		background-color: transparent;
	}

	.helpField,
	.settingsField {
		border-color: var(--day);
	}

	.checkboxSettingsFieldContainer {
		border-color: var(--day);
	}

	.checkboxSettingsFieldContainer input:checked+span {
		background-color: var(--day);
	}

	.numberSettingsFieldContainer input {
		color: var(--day);
	}

	.info,
	.error,
	.success {
		background-color: var(--day);
	}
} */