* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#treeInputContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30vw;
	height: 20vh;
	min-height: max-content;
}

#treeInputHeading {
	height: 40px;
	background-color: black;
	color: white;
	cursor: move;
}

#treeInput {
	border-top: none;
	width: 100%;
	height: 100%;
	padding: 20px;
	resize: none;
	outline: none;
	background-color: transparent;
	backdrop-filter: blur(5px);
}

#treeVisual {
	display: block;
	border: 1px red solid;
}